<div class="container">
  <h2>Projects</h2>
  <div class="toolbar">
    <button type="button" appTooltip="Click to add Project!" tooltipPosition="bottom" (click)="openProjectModal()">
      Add Project
    </button>
    <div class="controls">
      <app-listbox
        [items]="filteredFruits"
        [initialSelected]="favFruits"
        [suggestedItems]="defaultFruits"
        [multi]="true"
        [loading]="loadingFruits"
        [loadingMore]="isLoadingMore"
        [totalCount]="totalCount"
        [error]="fruitsError"
        placeholder="Choose favorite fruits"
        (selectionChange)="onListItemSelect($event)"
        (searchChange)="onSearch($event)"
      ></app-listbox>
      <div class="dd">
        <app-select-input
          [items]="myItems"
          [preselected]="[
            {
              label: 'Alice Johnson',
              value: { id: 1, name: 'Alice Johnson', role: 'Admin' },
              group: 'Team A',
            },
          ]"
          [multiple]="true"
          [filterKey]="'name'"
          [hideDisabled]="false"
          (valueChange)="onValueChange($event)"
        ></app-select-input>
      </div>
      <button type="button" [class.active]="viewAs === 'grid'" (click)="viewAs = 'grid'">Grid</button>
      <button type="button" [class.active]="viewAs === 'list'" (click)="viewAs = 'list'">List</button>
    </div>
  </div>
  <section>
    @switch (viewAs) {
      @case ("grid") {
        <app-projects-grid [items]="items()" [loading]="loading()"></app-projects-grid>
      }
      @case ("list") {
        <app-projects-list [items]="items()" [loading]="loading()"></app-projects-list>
      }
    }
  </section>
</div>
