<div class="container">
  <h2>Projects</h2>
  <div class="toolbar">
    <div class="buttons">
      <button type="button" appTooltip="Click to add Project!" tooltipPosition="bottom" (click)="openProjectModal()">
        Add Project
      </button>
    </div>
    <div class="controls">
      <app-listbox
        [items]="filteredFruits"
        [initialSelected]="favFruits"
        [suggestedItems]="defaultFruits"
        [multi]="true"
        [loading]="loadingFruits"
        [loadingMore]="isLoadingMore"
        [totalCount]="totalCount"
        [error]="fruitsError"
        placeholder="Choose favorite fruits"
        (selectionChange)="onListItemSelect($event)"
        (searchChange)="onSearch($event)"
      ></app-listbox>
      <div class="dd">
        <app-select-input
          [items]="myItems"
          [preselected]="[
            {
              label: 'Alice Johnson',
              value: { id: 1, name: 'Alice Johnson', role: 'Admin' },
              group: 'Team A',
            },
          ]"
          [multiple]="true"
          [filterKey]="'name'"
          [hideDisabled]="false"
          (valueChange)="onValueChange($event)"
        ></app-select-input>
      </div>
      <button type="button" [class.active]="viewAs === 'grid'" (click)="viewAs = 'grid'">Grid</button>
      <button type="button" [class.active]="viewAs === 'list'" (click)="viewAs = 'list'">List</button>
    </div>
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <div>
        <app-checkbox formControlName="checked" label="I agree to the terms"></app-checkbox>
      </div>
      <div>
        <app-radio-group
          [options]="options"
          [valueKey]="'id'"
          [labelKey]="'label'"
          formControlName="choice"
        ></app-radio-group>
      </div>
      <div>
        <app-textarea
          formControlName="message"
          [placeholder]="'Write a comment...'"
          [required]="true"
          [maxLength]="200"
          [minLength]="10"
        ></app-textarea>
      </div>
      <div class="buttons">
        <app-button type="submit" ariaLabel="Save form" rounded="md" variant="primary"
          >Submit
          <svg icon-right class="arrow-icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M12.293 15.707a1 1 0 010-1.414L15.586 11H4a1 1 0 110-2h11.586l-3.293-3.293a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </app-button>
      </div>
    </form>
  </div>
  <section>
    @switch (viewAs) {
      @case ("grid") {
        <app-projects-grid [items]="items()" [loading]="loading()"></app-projects-grid>
      }
      @case ("list") {
        <app-projects-list [items]="items()" [loading]="loading()"></app-projects-list>
      }
    }
  </section>
</div>
