<div class="container">
  <h2>Projects</h2>
  <div class="toolbar">
    <button type="button" appTooltip="Click to add Project!" tooltipPosition="bottom" (click)="openProjectModal()">
      Add Project
    </button>
    <div class="controls">
      <button type="button" [class.active]="viewAs === 'grid'" (click)="viewAs = 'grid'">Grid</button>
      <button type="button" [class.active]="viewAs === 'list'" (click)="viewAs = 'list'">List</button>
    </div>
  </div>
  <section>
    @switch (viewAs) {
      @case ("grid") {
        <app-projects-grid [items]="items()" [loading]="loading()"></app-projects-grid>
      }
      @case ("list") {
        <app-projects-list [items]="items()" [loading]="loading()"></app-projects-list>
      }
    }
  </section>
</div>
