:root {
  --layout-header-height: 60px;
  --layout-footer-height: 40px;
  --layout-sidebar-width: 250px;
  --layout-sidebar-width-collpased: 60px;
  --layout-content-padding: 20px;
}

.project-layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    background-color: var(--app-header-bg-color);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    column-gap: 1rem;
    position: relative;
    z-index: 1100;
    height: var(--layout-header-height);
    border-bottom: 1px solid var(--app-header-border-color);
    padding: 0.5rem var(--space-xs);

    .top-navbar {
      flex: 1;
    }
  }

  .main-layout {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;

    main {
      flex: 1;
      background-color: var(--app-content-bg-color);
      margin-left: var(--layout-sidebar-width);
      overflow-y: auto;

      &.collapsed {
        margin-left: var(--layout-sidebar-width-collpased);
      }

      .breadcrumb-wrapper {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--app-line-color);
        background: var(--app-content-bg-color);
      }
    }
  }

  &.mobile .main-layout main.collapsed {
    margin-left: 0;
  }
}
