<div class="project-layout-container" [class.sidebar-collapsed]="isSidebarCollapsed" [class.mobile]="isMobile">
  <header>
    <div class="top-navbar">
      <app-top-navbar [toggleMenu]="true" [isMobile]="isMobile" (onMenuToggle)="toggleSidebar()"></app-top-navbar>
    </div>
  </header>
  <div class="main-layout">
    <app-project-sidebar
      [projectId]="projectId"
      [isMobile]="isMobile"
      [fixedFooter]="true"
      [isCollapsed]="isSidebarCollapsed"
      (onToggle)="toggleSidebar()"
    ></app-project-sidebar>
    <main [ngClass]="mainClasses">
      <div class="breadcrumb-wrapper">
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
