.list {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  gap: 6px;
}

.project-row {
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  border-radius: var(--radius-sm);
  padding: 12px;
  transition: transform 0.2s;
  text-decoration: none;
  display: grid;
  grid-template-columns: 250px 300px repeat(4, 1fr) 120px 80px;
  align-items: center;
  font-size: 0.9rem;

  a {
    text-decoration: none;
    color: var(--app-fg-color);
    border-radius: var(--radius-sm);
    font-weight: 500;

    &:focus-visible {
      outline: 1px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  /* &:not(.skel):hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-xs);
  } */

  &.skel {
    padding: 18px 12px;
    .skeleton {
      width: 80px;
    }
  }
}

.no-projects {
  grid-column: 1/-1;
  height: clamp(300px, 60vh, 500px);
}
