.avatar-group {
  --avatar-size: 30px;
  --avatar-radius: 50%;
  --avatar-border: 2px solid var(--card-bg-color);

  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--avatar-radius);
  border: var(--avatar-border);
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  margin-left: -10px;
  // box-shadow: 0 0 0 1px #ccc;
  transition:
    transform 0.2s ease,
    z-index 0.2s ease;
  position: relative;
  cursor: pointer;
}

.avatar:hover {
  transform: scale(1.15);
  z-index: 10;
}

/* Ensures first avatar appears on top */
.avatar-group.right-align {
  justify-content: flex-end;
}

.avatar-group.right-align .avatar {
  margin-left: -10px;
  z-index: 10;
}

.avatar-group.right-align .avatar:nth-child(2) {
  z-index: 9;
}
.avatar-group.right-align .avatar:nth-child(3) {
  z-index: 8;
}
.avatar-group.right-align .avatar:nth-child(4) {
  z-index: 7;
}
.avatar-group.right-align .avatar:nth-child(5) {
  z-index: 6;
}
.avatar-group.right-align .avatar:nth-child(6) {
  z-index: 5;
}

/* Adjust first-child margin if needed */
.avatar-group .avatar:first-child {
  margin-left: 0;
}
