<div class="tab-container">
  <ul class="tab-list" role="tablist" #tabList>
    @for (tab of tabs; track $index; let i = $index) {
      <li
        #tabRefs
        class="tab-item"
        [ngClass]="tab.customClass"
        [class.active]="activeIndex() === i"
        [class.disabled]="tab.disabled"
        (click)="selectTab(i)"
        (keydown)="onKeyDown($event, i)"
        role="tab"
        [attr.aria-selected]="i === activeIndex()"
        [attr.tabindex]="activeIndex() === i ? 0 : -1"
      >
        @if (tab.iconTemplate) {
          <ng-container [ngTemplateOutlet]="tab.iconTemplate" class="tab-icon"></ng-container>
        }
        <span class="tab-label">{{ tab.label }}</span>
      </li>
    }
    <div class="tab-indicator" [ngStyle]="indicatorStyle()"></div>
  </ul>

  <div class="tab-content" [@fadeSlide]>
    @if (tabs.length > 0) {
      <ng-container *ngTemplateOutlet="tabs[activeIndex()]?.content!"></ng-container>
    }
  </div>
</div>
