<div class="tab-container">
  <ul class="tab-list" role="tablist" #tabList>
    @for (tab of tabs.toArray(); track $index; let i = $index) {
      <li
        #tabRefs
        class="tab-item"
        [ngClass]="tab.customClass"
        [class.active]="activeIndex() === i"
        [class.disabled]="tab.disabled"
        (click)="selectTab(i)"
        (keydown)="onKeyDown($event, i)"
        role="tab"
        [attr.aria-selected]="i === activeIndex()"
        [attr.tabindex]="activeIndex() === i ? 0 : -1"
      >
        @if (tab.labelTpl) {
          <ng-container *ngTemplateOutlet="tab.labelTpl.templateRef"></ng-container>
        } @else {
          <span class="tab-label">{{ tab.label }}</span>
        }
      </li>
    }
    <div class="tab-indicator" [ngStyle]="indicatorStyle()"></div>
  </ul>

  <div class="tab-content" role="tabpanel" [@fadeSlide]>
    @if (tabs.get(activeIndex())?.contentTpl; as activeTab) {
      <ng-container *ngTemplateOutlet="activeTab"></ng-container>
    }
  </div>
</div>
