.select-trigger {
  height: var(--select-trigger-height, 44px);
  border: 1px solid var(--input-border-color);
  padding: var(--input-inline-padding) 8px;
  cursor: pointer;
  background: var(--input-bg-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  .value-text {
    font-size: 0.9rem;
    color: var(--input-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    color: var(--input-text-color);

    &.placeholder {
      color: var(--input-placeholder-color);
    }
  }
}

.dropdown-wrapper {
  border-radius: 6px;
  width: 100%;
}

.dropdown-content {
  background: var(--menu-bg-color);
  border: 1px solid var(--menu-border-color);
  border-radius: var(--radius-sm);
  max-height: 300px;
  overflow: auto;
  background: var(--menu-bg-color);
  box-shadow: var(--box-shadow-md);
  width: 100%; // Or match width with origin
}

::ng-deep .dropdown-panel {
  --width: 250px;
  margin-top: -6px;
  z-index: 1000;
  width: var(--width);
}

::ng-deep .transparent-backdrop {
  background: transparent;
}

.preselected-items {
  padding: 0.75rem 8px;
}

.group-title {
  font-weight: 500;
  padding: 6px 8px;
  background-color: var(--menu-item-divider-color);

  label {
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    user-select: none;
  }

  span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    text-overflow: ellipsis;
  }

  &.focused {
    background-color: #f2f2f2;
  }
}

.dropdown-items {
  .dropdown-item {
    user-select: none;
    padding: 4px 8px;

    label {
      cursor: pointer;
      padding-block: 4px;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }

    &:hover,
    &.focused {
      background-color: var(--menu-item-bg-color-focused);
    }

    &.selected {
      font-weight: var(--primary-color);
    }

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    & + .dropdown-item {
      border-top: 1px solid var(--menu-item-divider-color);
    }
  }
}
