[data-theme="light"],
body.light {
  --app-bg-color: var(--color-white);
  --app-fg-color: var(--color-black-15);

  --card-bg-color: var(--app-bg-color);
  --card-border-color: var(--color-white-20);

  --input-bg-color: var(--app-bg-color);
  --input-border-color: var(--color-black-20);

  --skeleton-bg-color: var(--color-white-20);
  --skeleton-fg-color: var(--color-white-30);
}

@media (prefers-color-scheme: light) {
  :root {
    --app-bg-color: var(--color-white);
    --app-fg-color: var(--color-black-15);

    --card-bg-color: var(--app-bg-color);
    --card-border-color: var(--color-white-20);

    --input-bg-color: var(--app-bg-color);
    --input-border-color: var(--color-black-20);

    --skeleton-bg-color: var(--color-white-20);
    --skeleton-fg-color: var(--color-white-30);
  }
}
