<app-page-heading title="Project Analytics">
  <ng-container actions>
    <app-button type="button" rounded="sm" color="white"> Filter </app-button>
    <app-button type="button" rounded="sm" color="primary"> Export </app-button>
  </ng-container>
</app-page-heading>

<section>
  <app-tab-view [initialIndex]="initialIndex" (tabChange)="onTabChange($event)">
    <app-tab customClass="xx">
      <ng-template tabLabel>
        <span style="font-weight: bold">🔥 Alerts</span>
      </ng-template>

      <ng-template #tabContent>
        <p>This is the alerts content</p>
      </ng-template>
    </app-tab>

    <app-tab label="Plain">
      <ng-template #tabContent>
        <p>This is a plain tab</p>
      </ng-template>
    </app-tab>
    <app-tab label="Settings">
      <p>General settings go here.</p>
    </app-tab>
  </app-tab-view>
</section>
