.hero-heading {
  display: flex;
  align-items: center;
  height: min(20dvh, 180px);
  border-bottom: 1px solid var(--app-line-color);
  padding: 2rem 1rem;
  gap: 0.5rem;

  .nav {
    button {
      width: 48px;
      height: 48px;
      background-color: transparent;
      border: transparent;
      border-radius: var(--radius-md);
      margin-inline-end: 0.5rem;
      padding: 4px;

      &:focus-visible {
        outline: 2px solid var(--color-primary);
      }
    }
  }

  .icon:not(:empty) {
    width: 60px;
    display: inline-flex;
    justify-content: center;
  }

  .title,
  .subtitle {
    color: var(--app-fg-color);
  }

  .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-left: auto;
    gap: 0.5rem;
  }
}
