aside.project-sidebar {
  --link-item-size: 44px;

  position: fixed;
  top: var(--layout-header-height);
  left: 0;
  bottom: 0;
  width: var(--layout-sidebar-width);
  background-color: var(--app-sidebar-bg-color);
  border-right: 1px solid var(--app-sidebar-border-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1050;

  &.mobile {
    transition: none;
    width: var(--layout-sidebar-width);
    position: fixed;
    top: var(--layout-header-height);
    left: 0;
    height: calc(100% - var(--layout-header-height));
    z-index: 1050;

    .sidebar-top {
      display: none;
    }
  }

  &.collapsed {
    width: var(--layout-sidebar-width-collpased);

    .label {
      display: none;
    }

    .icon {
      text-align: center;
    }

    .sidebar-content {
      nav ul {
        li {
          a {
            justify-content: center;
          }
        }
      }
    }

    .sidebar-bottom {
      flex-direction: column;
    }
  }
}

.sidebar-top {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-sidebar-border-color);
  flex-shrink: 0;
}

.navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--app-sidebar-item-bg-color);
  border: none;
  border-radius: var(--radius-sm);
  transition: background 0.2s ease;
  color: var(--app-sidebar-item-text-color);
  cursor: pointer;
  height: var(--link-item-size);
  min-width: var(--link-item-size);

  &:hover {
    color: var(--app-sidebar-item-text-color-hover);
    background-color: var(--app-sidebar-item-bg-color-hover);
  }

  &.active {
    color: var(--app-sidebar-item-text-color-active);
    background-color: var(--app-sidebar-item-bg-color-active);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 4px;
  height: var(--link-item-size);
  width: var(--link-item-size);

  svg {
    height: 20px;
    width: 20px;
  }

  &:hover {
    color: var(--app-sidebar-item-text-color-hover);
    background-color: var(--app-sidebar-item-bg-color-hover);
  }

  &.active {
    color: var(--app-sidebar-item-text-color-active);
    background-color: var(--app-sidebar-item-bg-color-active);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }
}

.label {
  margin-left: 0.5rem;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--app-sidebar-item-text-color);
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      margin-block-start: 0.5rem;
    }
  }
}

.sidebar-bottom {
  padding: 0.5rem;
  border-top: 1px solid var(--app-sidebar-border-color);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
