.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min(25dvh, 200px);
  position: relative;
  border: 1px solid var(--app-bg-color-muted);
  border-radius: var(--radius-md);
  background-color: var(--color-primary);
  padding: 2rem;
  margin-block: 1rem;

  .title,
  .subtitle {
    color: #fff;
  }
}

.toolbar {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  margin-left: auto;
  gap: 2px;
}
