@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  color-scheme: light dark;
}

* {
  outline-color: var(--color-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
